{% extends "base.html" %}

{% block content %}
<div class="blue_box top_box">
  <form action="" method="POST">
  {{ form.url.errors }}
    {{ form.url }}
    <p><input type="submit" value="Shorten URL"></p>
  </form>
</div>

<div class="blue_box">
  <h1>Recently Shortened URLs</h1>
  <ul>
  {% for url in recent_urls %}
    <li><tt>{{ url.get_absolute_url }}</tt> - {{ url.url }}</li>
  {% endfor %}
  </ul>
</div>

<div class="blue_box">
  <h1>Why use SHA-1 Us?</h1>

  <p>Mostly because it steals good ideas from <a href="http://git-scm.com/">git</a>. When you enter
a URL it is SHA-1 hashed to create the &quot;shortened&quot; URL. If you use the SHA-1 Us service, you can
cryptographically verify (with a reasonable degree of assurance) that you were redirected to the
correct URL by just hashing the URL and comparing it with the hash on the end of the shortened
url. Users don't have to worry about 
<a href="http://unweary.com/2009/04/the-security-implications-of-url-shortening-services.html">malicious URL manipulation</a>.
  </p>

  <p>The second good idea I steal from git is that you can use whatever portion of the URL is
  convenient for you. If the full &quot;shortened&quot; URL you receive is <tt>http://sha1.us/9c17e047f58f9220a7008d4f18152fee4d111d14</tt>
  (way too long), then feel free to use <tt>http://sha1.us/9c17e047f58f9220</tt> or even just <tt>http://sha1.us/9c17e</tt>.
  Be aware that the probability of collisions increases if you use a shorter portion of the hash.
  </p>
  
  <p>This site was created by <a href="http://boozeandmescaline.com">Andy Kish</a> and its source
  is available on <a href="http://github.com/Kobold/shaurl/">github</a>.</p>
</div>
{% endblock %}